@model IndexViewModel

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Voici les Blu-rays disponible :</h1>
</div>

@foreach (var br in Model?.BluRays)
{
<div>
    <a asp-area="" asp-controller="Home" asp-action="AllBluRay" asp-route-id="@br.Id">
        @br.Titre (@br.DateSortie.ToShortDateString())
    </a>
</div>
}
@if(Model.SelectedBluRay != null)
{
<div class="text-center">
    <div>
        <h1>@Model.SelectedBluRay.Titre</h1>
    </div>
    <body>
        <font color="grey">@Model.SelectedBluRay.Duree / @string.Join(", ", Model.SelectedBluRay.Langues)</font>
    </body>
    <div>
        <font color="grey">Avec : @string.Join(", ", Model.SelectedBluRay.Acteurs.Select(x => string.Concat(x.Prenom, " ", x.Nom)))</font>
    </div>
    <div>
        Date de sortie : @Model.SelectedBluRay.DateSortie.ToShortDateString()
    </div>
    

</div> 
}

