@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Voici les Blu-rays disponible :</h1>
</div>

@foreach (var br in Model?.BluRays)
{
    <div>
    <a asp-area="" asp-controller="Home" asp-action="AllBluRay" asp-route-id="@br.Id"> 
        @br.Titre (@br.DateSortie.ToShortDateString()) @br.Note/5
        </a>
    </div>
}
@if(Model.SelectedBluRay != null)
{
<div class="text-center">
    <div>
    titre : @Model.SelectedBluRay.Titre
    </div>
    <div>
        Acteurs : @foreach (var act in Model.SelectedBluRay.Acteurs)
        {
            <div>nom :  @act.Nom</div>
            <div>prenom :  @act.Prenom</div>
        }
    </div>
    <div>
    Date de sortie : @Model.SelectedBluRay.DateSortie.ToShortDateString()
    </div>

</div> 
}

