@model IndexViewModel

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Voici les Blu-rays disponibles :</h1>
</div>

@foreach (var br in Model?.BluRays)
{
<div>
    <a asp-area="" asp-controller="Home" asp-action="AllBluRay" asp-route-id="@br.Id">
        @br.Titre (@br.DateSortie.ToShortDateString()) : Disponible
    </a>
</div>
}
@if(Model.SelectedBluRay != null)
{
<div class="text-center">
    <div>
        <h1>@Model.SelectedBluRay.Titre</h1>
    </div>
    <body>
        <font color="grey">@Model.SelectedBluRay.Duree / TODO</font>
    </body>
    <div>
        <font color="grey"> Avec : Des gens </font>
    </div>
    <div>
        Date de sortie : @Model.SelectedBluRay.DateSortie.ToShortDateString()
    </div>

    @if (!@Model.SelectedBluRay.Emprunt) {
            <button onclick="emprunter()">Emprunter</button>
        
    } else {
        <button onclick="rendre()">Rendre</button>    
    }
    
    <p id="messageEmprunt"></p>

    <script>
    function emprunter() {
        document.getElementById("messageEmprunt").innerHTML = "Vous avez emprunté ce BluRay, nous vous souhaitons un bon visionnage !";
    }

    function rendre() {
        document.getElementById("messageEmprunt").innerHTML = "Vous avez rendu ce BluRay, nous espérons qu'il vous a plu !";
    }
    </script>

</div> 
}

