@model IndexViewModel

@{
    ViewData["Title"] = "InsertBluRay";
}

<div>
    <form asp-controller="Home" asp-action="EditBluRay" method="post">
        <div>
            <label for="titre">Entrer le titre du BR :</label>
            <input type="text" name="Titre" id="titre"  required />
        </div>
        <div>
            <label for="scenariste">Scenariste :</label>
            <select name="IdScenariste" id="scenariste" required>
                @foreach(var personne in Model?.Personnes)
                {
                    <option value="@personne.Id">@personne.Nom @personne.Prenom</option>                    
                }
            </select>
        </div>
        <div>
            <label for="realisateur">Réalisateur :</label>
            <select name="IdRealisateur" id="realisateur" required>
                @foreach(var personne in Model?.Personnes)
                {
                    <option value="@personne.Id">@personne.Nom @personne.Prenom</option>                    
                }
            </select>
        </div>
        <div>
            <label for="acteurs">Acteurs :</label>
            <select name="IdActeurs" id="acteurs" required multiple>
                @foreach(var personne in Model?.Personnes)
                {
                    <option value="@personne.Id">@personne.Nom @personne.Prenom</option>                    
                }
            </select>
        </div>
        <div>
            <label for="duree">Durée en minutes:</label>
            <input type="time" name="Duree" id="duree" min="0" required />
        </div>
        <div>
            <label for="datesortie">Date de dortie :</label>
            <input type="date" name="DateSortie" id="datesortie" required />
        </div>
        <div>
            <label for="langue">Langue disponible :</label>
            <select name="IdLangues" id="langue" required multiple>            
                @foreach(var langue in Model?.Langues)
                {
                    <option value=@langue.Id>@langue.Langue</option>                    
                }
            </select>
        </div>
        <div>
            <label for="ssTitres">Langue sous-titre disponible :</label>
            <select name="IdSsTitres" id="ssTitres" required multiple>            
                @foreach(var langue in Model?.Langues)
                {
                    <option value=@langue.Id>@langue.Langue</option>                    
                }
            </select>
        </div>
        <div>
            <label for="version">Version :</label>
            <input type="text" name="Version" id="version"/>
        </div>
        <div>
            <label for="emprunt">Est emprunté :</label>
            <input type="checkbox" name="Emprunt" id="emprunt" checked/>
        </div>
        <div>
            <label for="disponible">Disponibilité :</label>
            <input type="checkbox" name="Disponible" id="disponible" checked/>
        </div>
        <div>
            <input type="submit" value="Ajouter !"
        </div>
    </form>
</div>

