@model IndexViewModel

@{
    ViewData["Title"] = "Emprunt BluRay";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h1>Voici les Blu-rays pouvant être emprunté :</h1>
</div>

@foreach (var br in Model?.LoueurBluRays)
{
<div>
    @br.Titre @br.Version
        @{
            var empruntBluRayBody = new EmpruntBluRayBodyViewModel();
            empruntBluRayBody.titre = br.Titre;
            empruntBluRayBody.version = br.Version;
            empruntBluRayBody.idBluRay = br.Id;
        }
    <a asp-area="" asp-controller="Emprunt" asp-action="DoEmprunt" asp-route-id="@br.Id" asp-route-titre="@br.Titre" asp-route-version="@br.Version"
    asp-route-idLoueur="@Model?.SelectedLoueur.Id">
        EMPRUNTER
    </a>
</div>
}
